@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-100 dark:bg-gray-950;
}

.primary{
    @apply text-red-600 dark:text-blue-600;
}

.input-bar{
    @apply border rounded-full px-3 py-2
    bg-gray-100 dark:bg-gray-700
    border-gray-300 dark:border-gray-600
}

.input-bar-error{
    @apply rounded-full
    bg-red-50 text-red-700 placeholder-red-700 
    border border-red-500 focus:ring-red-500 focus:border-red-500
    dark:bg-gray-700 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
}

.nav-btn{
    @apply rounded-full
    text-gray-700 dark:text-gray-200
    hover:bg-gray-50 dark:hover:bg-gray-700
}

.paper{
    @apply
    flex flex-col justify-center items-center
    my-10 mx-auto p-8
    shadow-xl rounded border border-gray-300 dark:border-gray-600
    w-11/12 max-w-xl
    bg-gray-200 dark:bg-gray-900 text-gray-900 dark:text-gray-200 
}

.submit{
    @apply rounded-full px-3 py-2 text-gray-200
    bg-blue-700 active:bg-blue-800 uppercase
    disabled:bg-gray-700
}

.link{
    @apply hover:underline text-blue-700 dark:text-blue-500
}

.icon{
    @apply text-gray-500 dark:text-gray-300;
}

.icon-error{
    @apply text-red-700 dark:text-red-500
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: theme(colors.gray.900);
    @apply
    shadow-[inset_0_0_0px_1000px_rgba(0,0,0,0)]
    transition-[background-color] duration-[5000s] ease-in-out
} */